<%- include('./partials/head_partial.ejs') %>
<% const release_date = new Date(gameData.release_date).toLocaleDateString() %>
<script>
  const deleteAlert = (id, title) => {
    if(confirm(`Are you sure you want to delete ${title}?`)){
      window.location.href=`/delete/${id}`;
    }
  }
</script>
<main class="container h-100 d-flex flex-column align-items-center">
  <a href="javascript:window.history.back()" class="btn btn-primary position-absolute m-3" style="width: 5rem; height: 2.5rem; left: 0">Back</a>
  <h1 class="m-4"><%= title %></h1>

  <div
    class="d-flex fs-4 flex-column justify-content-center align-items-center"
  >
    <img
      src="<%= gameData.image %>"
      alt="<%= gameData.game_title %>"
      style="
        width: 300px;
        height: 200px;
        object-fit: contain;
        object-position: center;
        display: block;
      "
      class="img img-fluid mb-3"
    />
    <ul class="list-group mb-3">
      <li class="list-group-item">
        <strong>Genre:</strong>
        <% genres.forEach(genre => { %>
            <% if(genre != genres[genres.length-1]) { %> 
                <%= genre %>,
            <% } else { %>
                <%= genre %>
            <% } %>
        <% }) %>

      </li>
      <li class="list-group-item">
        <strong>Platform:</strong>
                <% platforms.forEach(platform => { %>
            <% if(platform != platforms[platforms.length-1]) { %> 
                <%= platform %>,
            <% } else { %>
                <%= platform %>
            <% } %>
        <% }) %>
      </li>
      <li class="list-group-item">
        <strong>Release Date:</strong> <%= release_date %>
      </li>
      <li class="list-group-item">
        <strong>Developer:</strong> <%= gameData.developer %>
      </li>
      <li class="list-group-item">
        <strong>Description:</strong> <%= gameData.description %>
      </li>
      <li class="list-group-item">
        <strong>More info:</strong> <% if (gameData.link !== null) { %>
         <a href="<%= gameData.link %>" target="_blank" rel="noopener noreferrer"><%= gameData.link %></a>
        <% } else { %>
          <span>N/A</span>
        <% } %> 
      </li>
    </ul>
    <button class="btn btn-danger align-self-end" onclick="deleteAlert(`<%= gameData.game_id %>`,`<%= gameData.game_title %>`)">delete</button>
  </div>
</main>
<%- include('./partials/foot_partial.ejs') %>