<%- include('./partials/head_partial.ejs') %>

<main class="h-100 d-flex flex-column align-items-center">
  <div class="grid w-100 px-3">
    <div class="g-col-2">
      <a href="/" class="btn btn-primary my-3" style="width: 5rem; height: 2.5rem;">Back</a>
    </div>
    <h1 class="my-4 g-col-8 text-center">
      <%= title %>
    </h1>
    <% if (user) { %>
    <div class="d-flex flex-row-reverse align-items-center g-col-2">
      <a href="/logout" class="btn btn-primary-subtle-20" style="width: 5rem; height: 2.5rem;">Logout</a>
      <p class="m-0 pe-3">Logged in as: <%= user.login %></p>
    </div>
    <% } else { %>
    <div class="d-flex flex-row-reverse align-items-center g-col-2 gap-2">
      <a href="/register" class="btn btn-primary-subtle-65" style="width: 5rem; height: 2.5rem;">Register</a>
      <a href="/login" class="btn btn-primary-subtle-20" style="width: 5rem; height: 2.5rem;">Login</a>
      
    </div>
    <% } %>
     
  </div>
  <div class="container-md grid" style="width: fit-content;">
    <% games.forEach(game=> { %>
    <div class="d-flex justify-content-center align-items-center g-col-12 g-col-sm-6 g-col-md-4 g-col-lg-3">
      <a href="/games/<%= game %>" class="btn d-flex align-items-center justify-content-center m-2 border border-primary-subtle border-2 rounded" style="width: 200px; height: 125px;">
        <img src="<% images.forEach(image => { %>
         <% if (image.title == game) { %>
                    <%= image.path %>
                <% } %>
        <% }) %>" alt="<%= game %>" style="width: 100%; height: 100%; object-fit: contain; object-position: center; display: block;" class="img img-fluid" />
      </a>
    </div>
    <% }); %>

    <div class="d-flex justify-content-center align-items-center g-col-12 g-col-sm-6 g-col-md-4 g-col-lg-3">
      <a href="/new" class="btn d-flex align-items-center justify-content-center m-2 border border-primary-subtle-20 border-2 rounded btn-primary-subtle-20" style="width: 200px; height: 125px">
        <img src="../assets/plus-circle.svg" alt="plus button" style="filter:invert(1); width: 25px; height: auto;" />
      </a>
    </div>
  </div>
</main>
<%- include('./partials/foot_partial.ejs') %>